<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Liverpool Tweets</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1>Make Us Dream!!<br>LFC Optimism Meter</h1>

    <big><meter value= "<%=@rating %>" min="0" max="100"></meter><br></big>

    <h2><%= @rating %>%</h2>

    <h2>What people are saying:</h2>
    <%@tweets.each do |tweet| %>
    <blockquote class="twitter-tweet tw-align-center" data-link-color="#cc0000" data-theme="dark"><%= format_tweet(tweet) %></blockquote>
    <% end %>


  </body>
</html>
